<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="star" class="star-icon"></ion-icon> 
      Movie Credits</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home" class="home-icon"></ion-icon>
      </ion-button>
      <ion-button routerLink="/favorites">
        <ion-icon name="heart" class="heart-icon"></ion-icon>
      </ion-button>
      <ion-button routerLink="/movie-details/null">
        <ion-icon name="videocam" class="videocam-icon"></ion-icon>
      </ion-button>
      <ion-button routerLink="/movie-credits">
        <ion-icon name="star" class="star-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie Credits</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
