ion-header {
    padding-top: var(--ion-safe-area-top) !important;
  background-color: var(--ion-background-color, #000); 
  
  ion-toolbar {
    --background: transparent;
    --border-style: none;
  }
}

.search-container {
  padding: 0 8px 8px 8px;
}

.search-toolbar {
  --min-height: 50px;
  --padding-top: 0;
  --padding-bottom: 8px;
}