<app-shared-header [showSearch]="false" [pageTitle]="'G0438813'"></app-shared-header>

<ion-content [fullscreen]="false" [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  
  <div class="search-section ion-padding">
    <h2 class="search-title">Welcome to the Movie App</h2>
    <form (submit)="onSearch($event)">
      <ion-item lines="none" class="custom-input-item">
        <ion-input [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search for a movie by name..." clearInput="true" ngDefaultControl>
        </ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" class="search-btn">SEARCH</ion-button>
    </form>
  </div>

  <div *ngIf="searchHistory.length > 0" class="ion-padding">
    <ion-label color="medium">Recent Searches:</ion-label>
    <div class="history-container">
      <ion-chip *ngFor="let item of searchHistory" (click)="searchQuery = item; onSearch()">
        <ion-label>{{ item }}</ion-label>
        <ion-icon name="time-outline"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <div class="section-header">
    <h2>{{ listTitle }}</h2>
  </div>

  <ion-grid class="movie-grid" *ngIf="movies.length > 0">
    <ion-row>
      <ion-col size="4" *ngFor="let movie of movies" [routerLink]="['/movie-details', movie.id]">
        <div class="grid-poster-frame">
          <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w342' + movie.poster_path" />
        </div>
        <p class="main-text">{{ movie.title }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movies..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showBackToTop">
    <ion-fab-button color="warning" (click)="scrollToTop()" size="small">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>